input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  font-family: "Space Mono", monospace;
}
body {
  background-color: hsl(185, 41%, 84%) !important;
}
input {
  font-family: "Space Mono", monospace;
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  padding: 5px;
}
::placeholder {
  font-weight: 700;
  font-size: 15px;
}
button,
#pNumInput,
#perInput,
#billInput {
  border-radius: 5px !important;
}

.bigerDiv {
  background-color: transparent;
}
.logoDiv {
  background-color: transparent;
  margin-bottom: 4%;
  margin-top: 5%;
}

.bigBox {
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  height: 320px;
  width: 600px !important;
  margin-top: 0px;
  padding: 20px;
  padding-inline: 40px !important;
}
.leftBox {
  margin-bottom: 20px;
}
.leftSecond {
  padding: 0px !important;
}

.textTitle {
  color: hsl(185, 25%, 34%);
  font-weight: 700;
  font-size: small;
}
#billInput {
  background: url(images/icon-dollar.svg) no-repeat center;
  background-size: 11px 15px;
  background-position-x: 10px;
  background-color: hsl(189, 41%, 97%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
.leftFirst {
  margin-bottom: 20px;
}

.leftSecond {
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 20px;
  height: 100px;
}

.btnMother :not(.exep) {
  margin-left: 12px;
}
button {
  color: rgba(255, 255, 255, 0.884);
  background-color: hsl(183, 100%, 15%);
  font-weight: 700;
  border: 0px;
  height: 35px;
}

.theSelectedButton {
  background-color: hsla(185, 78%, 70%, 0.925);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  width: 25% !important;
  border: 0px;
  height: 35px;
}
.theSelectedButton2 {
  background-color: hsla(185, 78%, 70%, 0.925);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  margin: 0px !important;
  width: 25% !important;
  border: 0px;
  height: 35px;
}
.regulator {
  color: rgba(255, 255, 255, 0.884);
  background-color: hsl(183, 100%, 15%);
  font-weight: 700;
  border: 0px;
  width: 25% !important;
  height: 35px;
}
.regulator2 {
  color: rgba(255, 255, 255, 0.884);
  background-color: hsl(183, 100%, 15%);
  font-weight: 700;
  border: 0px;
  margin: 0px !important;
  width: 25% !important;
  height: 35px;
}
button:hover {
  background-color: hsla(185, 78%, 70%, 0.925);
  color: hsl(183, 100%, 15%);
}

#perInput {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  height: 36px;
  margin-top: 6px;
}
#perInput:hover,
#pNumInput:hover,
#billInput:hover {
  border: 2px solid hsl(185, 41%, 84%);
  cursor: pointer;
}

input[type="number"]:focus {
  border: 2px solid hsl(185, 41%, 84%);
  cursor: pointer;
  outline: none;
}
#pNumInput {
  background: url(images/icon-person.svg) no-repeat center;
  background-size: 11px 14px;
  background-position-x: 10px;
  background-color: hsl(189, 41%, 97%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
.rightBox {
  color: rgba(255, 255, 255, 0.979);
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  word-wrap: break-word;
}
ul {
  margin: 0px !important;
}
li {
  display: inline-block;
  font-size: small;
  margin-top: 25px;
  margin-bottom: 0px;
}
li:nth-child(2) {
  float: right;
  height: max-content;
  font-size: x-large;
}
.rightFirst {
  padding: 5px;
}
.rightSecond {
  padding: 5px;
}
.secondLines {
  color: rgba(255, 255, 255, 0.438);
  font-size: 10px;
}
.firstShow,
.secondShow {
  text-align: right;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  word-wrap: break-word;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.rightThird {
  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
}
.before-btn {
  height: 65px;
}
#reset {
  width: inherit;
  align-items: center;
  background-color: hsla(185, 78%, 70%, 0.925);
  color: hsl(183, 100%, 15%);
}
